@keyframes slide-to-top {
  0% {
    opacity: 0;
    transform: scale(1) translateY(50%);
  }
  50% {
    opacity: 0;
    transform: scale(1) translateY(50%);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

@keyframes slide-to-left {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  50% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
