@font-face {
  src:
    local("Montserrat-Regular"),
    url("/fonts/Montserrat-Regular.woff2") format("woff2"),
    url("/fonts/Montserrat-Regular.woff") format("woff");
  font-family: "Montserrat-Regular";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    local("Montserrat-Medium"),
    url("/fonts/Montserrat-Medium.woff2") format("woff2"),
    url("/fonts/Montserrat-Medium.woff") format("woff");
  font-family: "Montserrat-Medium";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    local("Montserrat-SemiBold"),
    url("/fonts/Montserrat-SemiBold.woff2") format("woff2"),
    url("/fonts/Montserrat-SemiBold.woff") format("woff");
  font-family: "Montserrat-SemiBold";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    local("Montserrat-Bold"),
    url("/fonts/Montserrat-Bold.woff2") format("woff2"),
    url("/fonts/Montserrat-Bold.woff") format("woff");
  font-family: "Montserrat-Bold";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    local("CormorantGaramond-Regular"),
    url("/fonts/CormorantGaramond-Regular.woff2") format("woff2"),
    url("/fonts/CormorantGaramond-Regular.woff") format("woff");
  font-family: "CormorantGaramond-Regular";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    local("CormorantGaramond-Medium"),
    url("/fonts/CormorantGaramond-Medium.woff2") format("woff2"),
    url("/fonts/CormorantGaramond-Medium.woff") format("woff");
  font-family: "CormorantGaramond-Medium";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    local("CormorantGaramond-MediumItalic"),
    url("/fonts/CormorantGaramond-MediumItalic.woff2") format("woff2"),
    url("/fonts/CormorantGaramond-MediumItalic.woff") format("woff");
  font-family: "CormorantGaramond-MediumItalic";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    local("CormorantGaramond-SemiBold"),
    url("/fonts/CormorantGaramond-SemiBold.woff2") format("woff2"),
    url("/fonts/CormorantGaramond-SemiBold.woff") format("woff");
  font-family: "CormorantGaramond-SemiBold";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    local("CormorantGaramond-Bold"),
    url("/fonts/CormorantGaramond-Bold.woff2") format("woff2"),
    url("/fonts/CormorantGaramond-Bold.woff") format("woff");
  font-family: "CormorantGaramond-Bold";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    local("Roboto-Bold"),
    url("/fonts/Roboto-Bold.woff2") format("woff2"),
    url("/fonts/Roboto-Bold.woff") format("woff");
  font-family: "Roboto-Bold";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    local("Roboto-SemiBold"),
    url("/fonts/Roboto-SemiBold.woff2") format("woff2"),
    url("/fonts/Roboto-SemiBold.woff") format("woff");
  font-family: "Roboto-SemiBold";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    local("Roboto-Medium"),
    url("/fonts/Roboto-Medium.woff2") format("woff2"),
    url("/fonts/Roboto-Medium.woff") format("woff");
  font-family: "Roboto-Medium";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    local("Roboto-Regular"),
    url("/fonts/Roboto-Regular.woff2") format("woff2"),
    url("/fonts/Roboto-Regular.woff") format("woff");
  font-family: "Roboto-Regular";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    local("Comfortaa-Bold"),
    url("/fonts/Comfortaa-Bold.woff2") format("woff2"),
    url("/fonts/Comfortaa-Bold.woff") format("woff");
  font-family: "Comfortaa-Bold";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
