.form-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 550px;
  animation: slide-to-left 0.5s ease-in-out;
}
.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-items: center;
}
.form-label {
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 16px;
  color: var(--white-primary);
  padding-bottom: 10px;

  @media (max-width: 1024px) {
    font-size: 14px;
  }
}
.form-input {
  width: 100%;
  height: 50px;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 16px;
  color: var(--black-primary);
  background: var(--white-primary);
  border-radius: var(--border-radius-xxl);
  padding-left: 20px;
  padding-right: 20px;
  transition: 0.2s ease;
}
.form-input:focus {
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 16px;
  color: var(--black-primary);
  outline: 0;
  box-shadow: 0px 0px 15px rgba(243, 247, 250, 0.5);
}
.form-input::placeholder {
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 16px;
  color: var(--mask-black-secondary);
}
.form-input:focus::placeholder {
  color: transparent;
}
.form-input-error {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: var(--red-secondary);
  text-align: right;
}
.form-textarea {
  min-height: 100px;
  border-radius: var(--border-radius-xxl);
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 16px;
  color: var(--black-primary);
  background: var(--white-primary);
  padding: 20px 40px 20px 20px;

  &:focus {
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 16px;
    color: var(--black-primary);
    outline: 0;
    background: var(--white-primary);
    box-shadow: 0px 0px 15px rgba(243, 247, 250, 0.5);
  }
}
.form-textarea::placeholder {
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 16px;
  color: var(--mask-black-secondary);
}
.form-textarea:focus::placeholder {
  color: transparent;
}
.mark {
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 14px;
  color: var(--mask-white-primary);
}
// @media (max-width: 767px) {
//   .form-search-input {
//     padding-left: 20px;
//   }
// }
