.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-items: center;
  // gap: 8px;
}
.form-label {
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 18px;
  // line-height: 14px;
  color: var(--white-primary);
  padding-bottom: 10px;
}
.form-input {
  height: 50px;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 16px;
  color: var(--black-primary);
  background: var(--white-primary);
  border-radius: var(--border-radius-xs);
  border: 1px solid var(--border-primary);
  padding-left: 13px;
  padding-right: 13px;
  transition: 0.25s ease all;
}
.form-input:focus {
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 16px;
  color: var(--black-primary);
  outline: 0;
  border: 1px solid var(--green-secondary);
}
.form-input::placeholder {
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 16px;
  color: var(--mask-black-secondary);
}
.form-input:focus::placeholder {
  color: transparent;
}
.form-input-error {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: var(--orange-primary);
  text-align: right;
}

// @media (max-width: 767px) {
//   .form-search-input {
//     padding-left: 20px;
//   }
// }
