.left-enter-active,
.left-leave-active {
  transition: all 0.3s ease;
}
.left-enter-from,
.left-leave-to {
  opacity: 0;
  transform: translateX(-100%);
}

.right-enter-active,
.right-leave-active {
  transition: all 0.3s ease;
}
.right-enter-from,
.right-leave-to {
  opacity: 0;
  transform: translateX(100%);
}

.top-enter-active,
.top-leave-active {
  transition: all 0.3s ease;
}
.top-enter-from,
.top-leave-to {
  opacity: 0;
  transform: translateY(100%);
}

// .list-enter-active,
// .list-leave-active {
//   transition: all 0.5s ease;
// }
// .list-enter-from,
// .list-leave-to {
//   opacity: 0;
//   transform: translateX(30px);
// }
