:root {
  --white-primary: #ffffff;

  --black-primary: #080c14;
  --black-secondary: #000000;

  --orange-primary: #ffac30;

  --deep-blue-primary: #081119;
  --deep-blue-secondary: rgb(23, 44, 63);

  --mask-primary: rgba(0, 0, 0, 0.2);
  --mask-secondary: rgba(0, 0, 0, 0.6);
  --mask-blue-primary: rgba(23, 44, 63, 0.2);
  --mask-trasparent: rgba(0, 0, 0, 0);

  --gradient-page-primary: linear-gradient(
    135deg,
    var(--orange-primary) 0%,
    var(--black-primary) 20%,
    var(--deep-blue-secondary) 100%
  );
  --gradient-modal-primary: linear-gradient(135deg, var(--mask-primary) 0%, var(--mask-blue-primary) 100%);

  --gradient-product-card-primary: linear-gradient(
    to bottom,
    var(--mask-trasparent) 0%,
    var(--mask-trasparent) 30%,
    var(--mask-secondary) 50%
  );

  --border-primary: rgba(255, 255, 255, 0.2);

  --border-radius-full: 50%;
  --border-radius-s: 8px;
  --border-radius-m: 10px;
  --border-radius-l: 14px;
  --border-radius-xl: 16px;

  --screen-4k: 3840px; // h-2160
  --screen-2k: 2560px; // h-1440
  --screen-hd: 1920px; // h-1080
  --screen-xl: 1440px; // h-900
  --screen-l: 1280px; // h-720
  --screen-m: 1024px; // h-600
  --screen-s: 768px; // h-375
  --screen-xs: 475px;
}
