:root {
  --white-primary: #ffffff;

  --black-primary: #080c14;
  --black-secondary: #000000;

  --orange-primary: #ffac30;
  // --orange-secondary: #cc7a00;
  // --orange-thirdly: #bb7000;
  // --orange-fourthly: #aa6600;

  --red-primary: rgb(246, 60, 0);
  --red-secondary: #ff6400;

  --green-primary: rgb(181, 228, 180);
  --green-secondary: #9ddb9b;

  --deep-blue-primary: #081119;
  --deep-blue-secondary: #172c3f;
  --deep-blue-thirdly: #32608a;
  --deep-blue-fourthly: #254664;

  // --light-blue-primary: rgb(243, 247, 250);

  // --button-blue-primary: #32608a;

  --mask-black-primary: rgba(0, 0, 0, 0.2);
  --mask-black-secondary: rgba(0, 0, 0, 0.4);
  --mask-white-primary: rgba(255, 255, 255, 0.6);
  --mask-white-secondary: rgba(255, 255, 255, 0.8);
  --mask-white-thirdly: rgba(255, 255, 255, 0.1);
  --mask-blue-primary: rgba(23, 44, 63, 0.2);
  --mask-trasparent: rgba(0, 0, 0, 0);

  --gradient-page-primary: linear-gradient(
    135deg,
    var(--orange-primary) 0%,
    var(--black-primary) 20%,
    var(--deep-blue-secondary) 100%
  );
  --gradient-modal-primary: linear-gradient(135deg, var(--mask-primary) 0%, var(--mask-blue-primary) 100%);

  // --gradient-button-orange-primary: linear-gradient(148deg, var(--orange-primary) 0%, var(--orange-fourthly) 100%);
  --gradient-product-blue-primary: linear-gradient(148deg, var(--deep-blue-thirdly) 0%, var(--deep-blue-secondary) 60%);

  --gradient-product-card-primary: linear-gradient(
    to bottom,
    var(--mask-trasparent) 0%,
    var(--mask-trasparent) 30%,
    var(--mask-black-secondary) 50%
  );

  --gradient-product-card-discount: linear-gradient(
    to right,
    var(--mask-trasparent) 0%,
    var(--mask-trasparent) 50%,
    var(--deep-blue-thirdly) 100%
  );

  --border-primary: #ffffff33;

  --border-radius-full: 50%;
  --border-radius-xs: 6px;
  --border-radius-s: 8px;
  --border-radius-m: 10px;
  --border-radius-l: 14px;
  --border-radius-xl: 16px;
  --border-radius-xxl: 20px;

  // desktop
  --screen-4k: 3840px; // h-2160
  --screen-2k: 2560px; // h-1440
  --screen-hd: 1920px; // h-1080

  // laptop
  --screen-xxl: 1600px; // h-900
  --screen-xl: 1440px; // h-900
  --screen-l: 1280px; // h-800
  --screen-m: 1024px; // h-768
  --screen-s: 767px; // h-1024

  // smartphone
  --screen-xs: 428px; // h-926
  --screen-xs: 414px; // h-736
  --screen-xs: 390px; // h-844
  --screen-xs: 375px; // h-667
  --screen-xs: 320px; // h-480
}
