:root {
  --white-primary: #ffffff;

  --black-primary: #080c14;
  --black-secondary: #000000;

  --orange-primary: #ffac30;

  --deep-blue-primary: #081119;

  --mask-primary: rgba(0, 0, 0, 0.2);
  --mask-secondary: rgba(0, 0, 0, 0.6);

  --gradient--page-primary: linear-gradient(135deg, var(--orange-primary) 0%, var(--black-primary) 20%, #172c3f 100%);
  // --gradient--page-secondary: linear-gradient(90deg, #5e431e 0%, #080e17 100%);

  --border-radius-full: 50%;
  --border-radius-s: 8px;
  --border-radius-m: 10px;
  --border-radius-l: 14px;
  --border-radius-xl: 16px;

  --screen-4k: 3840px; // h-2160
  --screen-2k: 2560px; // h-1440
  --screen-hd: 1920px; // h-1080
  --screen-xl: 1440px; // h-900
  --screen-l: 1280px; // h-720
  --screen-m: 1024px; // h-600
  --screen-s: 768px; // h-375
  --screen-xs: 475px;
}
