:root {
  --white-primary: #ffffff;

  --black-primary: #080c14;
  --black-secondary: #000000;

  --orange-primary: #ffac30;

  --gray-primary: #f8fafc;
  --gray-secondary: #eff6ff;

  --red-primary: #f63c00;
  --red-secondary: #ff6400;
  --red-thirdly: #882100;
  --red-fourthly: #ffc199;

  --green-primary: #b5e4b4;
  --green-secondary: #9ddb9b;
  --green-thirdly: #00c950;
  --green-fourthly: #00a63e;
  --green-fifthly: #006626;

  --deep-blue-primary: #081119;
  --deep-blue-secondary: #172c3f;
  --deep-blue-thirdly: #32608a;
  --deep-blue-fourthly: #254664;

  // --light-blue-primary: rgb(243, 247, 250);

  // --button-blue-primary: #32608a;

  --mask-black-primary: rgba(0, 0, 0, 0.2);
  --mask-black-secondary: rgba(0, 0, 0, 0.4);
  --mask-black-thirdly: rgba(0, 0, 0, 0.6);
  --mask-white-primary: rgba(255, 255, 255, 0.6);
  --mask-white-secondary: rgba(255, 255, 255, 0.8);
  --mask-white-thirdly: rgba(255, 255, 255, 0.1);
  --mask-white-fourthly: rgba(255, 255, 255, 0.4);
  --mask-blue-primary: rgba(23, 44, 63, 0.2);
  --mask-blue-secondary: rgba(50, 96, 138, 0.1);
  --mask-blue-thirdly: rgba(50, 96, 138, 0.7);
  --mask-blue-fourthly: rgba(50, 96, 138, 0.9);
  --mask-trasparent: rgba(0, 0, 0, 0);

  --gradient-page-primary: linear-gradient(
    135deg,
    var(--orange-primary) 0%,
    var(--black-primary) 20%,
    var(--deep-blue-secondary) 100%
  );
  --gradient-modal-primary: linear-gradient(135deg, var(--mask-primary) 0%, var(--mask-blue-primary) 100%);
  --gradient-product-blue-primary: linear-gradient(148deg, var(--deep-blue-thirdly) 0%, var(--deep-blue-secondary) 60%);
  --gradient-product-card-primary: linear-gradient(
    to bottom,
    var(--mask-trasparent) 0%,
    var(--mask-trasparent) 30%,
    var(--mask-black-secondary) 50%
  );
  --gradient-product-card-discount: linear-gradient(
    to right,
    var(--mask-trasparent) 0%,
    var(--mask-trasparent) 50%,
    var(--deep-blue-thirdly) 100%
  );

  --gradient-admin-primary: linear-gradient(135deg, var(--gray-primary) 0%, var(--gray-secondary) 100%);
  --gradient-admin-secondary: linear-gradient(148deg, var(--mask-blue-primary) 0%, var(--mask-blue-secondary) 100%);
  --gradient-admin-thirdly: linear-gradient(148deg, var(--deep-blue-fourthly) 0%, var(--mask-blue-secondary) 100%);

  --shadow-primary: 0px 30px 30px 50px rgba(50, 96, 138, 0.1);
  --shadow-thirdly: 0px 1px 1px 1px var(--border-primary);

  --border-primary: #ffffff33;
  --border-secondary: #e2e8f0;

  --border-radius-full: 50%;
  --border-radius-xs: 6px;
  --border-radius-s: 8px;
  --border-radius-m: 10px;
  --border-radius-l: 14px;
  --border-radius-xl: 16px;
  --border-radius-xxl: 20px;

  // desktop
  --screen-4k: 3840px; // h-2160
  --screen-2k: 2560px; // h-1440
  --screen-hd: 1920px; // h-1080

  // laptop
  --screen-xxl: 1600px; // h-900
  --screen-xl: 1440px; // h-900
  --screen-l: 1280px; // h-800
  --screen-m: 1024px; // h-768
  --screen-s: 767px; // h-1024

  // smartphone
  --screen-xs: 428px; // h-926
  --screen-xs: 414px; // h-736
  --screen-xs: 390px; // h-844
  --screen-xs: 375px; // h-667
  --screen-xs: 320px; // h-480
}
